In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Testing").getOrCreate()

In [27]:
source_df = spark.read.option("header", True).option("inferSchema", True).csv('advertising.csv')

In [39]:
source_df.show(5, False)

+------------------------+---+-----------+--------------------+-------------------------------------+--------------+----+----------+-------------------+-------------+
|Daily Time Spent on Site|Age|Area Income|Daily Internet Usage|Ad Topic Line                        |City          |Male|Country   |Timestamp          |Clicked on Ad|
+------------------------+---+-----------+--------------------+-------------------------------------+--------------+----+----------+-------------------+-------------+
|68.95                   |35 |61833.9    |256.09              |Cloned 5thgeneration orchestration   |Wrightburgh   |0   |Tunisia   |2016-03-27 00:53:11|0            |
|80.23                   |31 |68441.85   |193.77              |Monitored national standardization   |West Jodi     |1   |Nauru     |2016-04-04 01:39:02|0            |
|69.47                   |26 |59785.94   |236.5               |Organic bottom-line service-desk     |Davidton      |0   |San Marino|2016-03-13 20:35:42|0            |
|74.15                   |29 |54806.18   |245.89              |Triple-buffered reciprocal time-frame|West Terrifurt|1   |Italy     |2016-01-10 02:31:19|0            |
|68.37                   |35 |73889.99   |225.58              |Robust logistical utilization        |South Manuel  |0   |Iceland   |2016-06-03 03:36:18|0            |
+------------------------+---+-----------+--------------------+-------------------------------------+--------------+----+----------+-------------------+-------------+
only showing top 5 rows

In [29]:
source_df.printSchema()

root
 |-- Daily Time Spent on Site: double (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Area Income: double (nullable = true)
 |-- Daily Internet Usage: double (nullable = true)
 |-- Ad Topic Line: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Timestamp: string (nullable = true)
 |-- Clicked on Ad: integer (nullable = true)